.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  &:hover {
    color: var(--primary-color);
  }
}

.contact-form {
  width: 75%;
  background-color: var(--text-color);
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #1f1f1f;
}

.form-buttons {
  text-align: center;
  button:not(:last-child) {
    margin-right: .75rem;
  }
}

mat-form-field {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contact-form {
    width: 95%;
  }
}
