.content {
  padding-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  color: #D8000C;
  background-color: #FFBABA;
  border: #e8767d 1px solid;
  border-radius: .5rem;
}
