<div>
  <h2>Portfolio</h2>
  <ul>
    <li (mouseenter)="toggleVisibility(0)" (mouseleave)="toggleVisibility(0)">
      <div class="preview">
        <a href="https://chat.seip.io" title="Go to chat.seip.io">
          <div class="preview-description-box" [@showHide]="showDesc[0] ? 'show' : 'hide'">
            <h3>Web Chat</h3>
            <p>A web chat with a small bot based on Angular and PHP.</p>
          </div>
          <img src="assets/images/previews/chat-preview.png" alt="Preview of Web Chat App">
        </a>
      </div>
    </li>
    <li (mouseenter)="toggleVisibility(1)" (mouseleave)="toggleVisibility(1)">
      <div class="preview">
        <a href="https://cooking.seip.io" title="Go to cooking.seip.io">
          <div class="preview-description-box" [@showHide]="showDesc[1] ? 'show' : 'hide'">
            <h3>Cookbook and kitchen blog</h3>
            <p>A web app to share recipes and news based on Angular and PHP.</p>
          </div>
          <img src="assets/images/previews/cooking-preview.png" alt="Preview of a Cookbook Website">
        </a>
      </div>
    </li>
  </ul>
</div>
