<div class="container">
  <div>
    <h2>About Me</h2>
    <p class="lead-text">I'm Christian Seip and <span class="primary-text">Web Developer</span></p>
    <div class="inner-container">
      <div class="intro">
        <p>
          I am a German speaking Web Developer with experience in building web apps with JavaScript, PHP & Angular.
          You can find my projects that include responsive websites and business apps in my public porftolio.
          I started my IT journey coding small websites and applications at home and then decided to get professional
          training and build projects.<br>
          This is the reason, why I completed further training as a <a href="assets/downloads/CS-Cert.jpg">C# software
          developer</a> and started further training as a web developer at the Developer Academy.
        </p>
        <p>I am looking forward to building on my experience and starting my career in IT in a junior developer
          position.</p>

        <div class="button-box">
          <a class="button-link" href="assets/downloads/CV.pdf" mat-raised-button color="primary" download>Download
            CV</a>
          <a class="button-link" href="#contact" mat-raised-button color="primary">Contact me</a>
        </div>
      </div>

      <div class="my-skills">
        <ul class="skills">
          <li>
            <div class="skill-card">
              <div class="skill-logo-box">
                <img src="assets/images/logos/js.svg">
              </div>
              Javascript
            </div>
          </li>
          <li>
            <div class="skill-card">
              <div class="skill-logo-box">
                <img src="assets/images/logos/angular.svg">
              </div>
              Angular
            </div>
          </li>
          <li>
            <div class="skill-card">
              <div class="skill-logo-box">
                <img src="assets/images/logos/html5.svg">
              </div>
              HTML/CSS
            </div>
          </li>
          <li>
            <div class="skill-card">
              <div class="skill-logo-box">
                <img src="assets/images/logos/CS.png">
              </div>
              C#/.NET
            </div>
          </li>
          <li>
            <div class="skill-card">
              <div class="skill-logo-box">
                <img src="assets/images/logos/php.svg">
              </div>
              PHP
            </div>
          </li>
          <li>
            <div class="skill-card">
              <div class="skill-logo-box">
                <img src="assets/images/logos/git.png">
              </div>
              Git
            </div>
          </li>
          <li>
            <div class="skill-card">
              <div class="skill-logo-box">
                <img src="assets/images/logos/scrum.jpg">
              </div>
              SCRUM
            </div>
          </li>
          <li>
            <div class="skill-card">
              <div class="skill-logo-box">
                <img src="assets/images/logos/api.png">
              </div>
              Rest API
            </div>
          </li>
          <li>
            <div class="skill-card">
              <div class="skill-logo-box">
                <img src="assets/images/logos/database.svg">
              </div>
              Databases
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
