<div class="menu-button-container">
  <button mat-mini-fab color="primary" (click)="toggle(true)">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<aside [@openClose]="isOpen ? 'open' : 'closed'">
  <header>
    <h1 class="ff-arizonia"><a routerLink=""><img class="logo" src="assets/images/logos/logo.png" alt="Christian Seip personal logo"></a></h1>
    <nav class="main-navigation">
      <ul (click)="toggle(false)">
        <li>
          <a href="#home" [ngClass]="{'active': page === 'home'}">
            <mat-icon class="menu-icon">home</mat-icon> Home
          </a>
          </li>
        <li>
          <a href="#about" [ngClass]="{'active': page === 'about'}">
            <mat-icon class="menu-icon">person</mat-icon> About
          </a>
        </li>
        <li>
          <a href="#portfolio" [ngClass]="{'active': page === 'portfolio'}">
            <mat-icon class="menu-icon">work</mat-icon> Portfolio
            </a>
        </li>
        <li>
          <a href="#contact" [ngClass]="{'active': page === 'contact'}">
            <mat-icon class="menu-icon">question_answer</mat-icon> Contact
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <footer>
    <nav class="footer-navigation">
      <ul class="social-media-links">
        <li>
          <a href="https://www.linkedin.com/in/christian-seip/" title="Christian Seip linkedin.com Profile" target="_blank">
            <img src="assets/images/logos/linkedin.png" alt="Linkedin logo">
          </a>
        </li>
        <li>
          <a href="https://github.com/ChristianSeip" title="Github of Christian Seip" target="_blank">
            <img src="assets/images/logos/github.png" alt="Github logo">
          </a>
        </li>
      </ul>
      <ul class="legal-links" (click)="toggle(false)">
        <li><a routerLink="/legal-notice">Legal Notice</a></li>
        <li><a routerLink="/privacy">Privacy</a></li>
      </ul>
    </nav>
  </footer>
</aside>
