<div class="content-container">
  <div class="intro-container">
    <div>
      <p class="lead-text">Hello, my Name is <span class="secondary-text ff-arizonia">Christian Seip</span></p>
      <div class="lead-text typing-box">
        I'm a <span class="secondary-text typing">Web Developer.</span>
      </div>

      <p>
        As a web developer, I specialized in JavaScript and Angular to build modern web apps.<br>
        I am committed to this and strive to develop myself further: In addition to my full-time job, I have successfully completed two further training courses in the field of software development.
      </p>
    </div>

    <div class="button-box">
      <a mat-raised-button color="primary" href="#about">More About Me</a>
    </div>
  </div>

  <div class="photo-container">
    <img src="assets/images/christian.jpg" alt="Photo of Christian Seip">
  </div>
</div>
