<div class="content-container">
  <div class="intro-container">
    <div>
      <p class="lead-text">Hello, my Name is <span class="secondary-text ff-arizonia">Christian Seip</span></p>
      <div class="lead-text typing-box">
        I'm a <span class="secondary-text typing">Web Developer.</span>
      </div>

      <p>
        I specialize in JavaScript and have experience working with Javascript and Angular.<br>
        I also have experience working with PHP and C#.
      </p>
    </div>

    <div class="button-box">
      <a mat-raised-button color="primary" href="#about">More About Me</a>
    </div>
  </div>

  <div class="photo-container">
    <img src="assets/images/christian.jpg" alt="Photo of Christian Seip">
  </div>
</div>
