<div>
  <h2>Legal Notice</h2>

  <section>
    <h3>Provider</h3>
    <strong>Christian Seip</strong><br>
    Goethestraße 39<br>
    31275 Lehrte<br>
    Germany
  </section>

  <section>
    <h3>Contact Information</h3>
    <dl>
      <dt>E-Mail Address</dt>
      <dd><a href="mailto:hello@seip.io">hello@seip.io</a></dd>
      <dt>Phone</dt>
      <dd><a href="tel:+4915125584896">+49 1512 5584896</a></dd>
    </dl>
  </section>

  <section>
    <h3>Attributions</h3>
    <ul class="attribution-list">
      <li><a href="https://angular.io/presskit">https://angular.io/presskit</a></li>
      <li><a href="https://fontawesome.com">https://fontawesome.com</a></li>
      <li><a href="https://www.w3.org/html/logo/index.html">https://www.w3.org/html/logo/index.html</a></li>
      <li><a href="https://commons.wikimedia.org/wiki/File:Csharp_Logo.png">https://commons.wikimedia.org/wiki/File:Csharp_Logo.png</a></li>
    </ul>
  </section>
</div>
