<div class="fixed left-12 top-1/2 -translate-y-1/2 transform flex flex-col space-y-6 z-40 md:flex md:flex-col md:space-y-6 md:left-12 md:top-1/2 md:-translate-y-1/2 md:transform-none md:block hidden">
  <a href="https://www.linkedin.com/in/christian-seip" target="_blank" class="text-gray-500 hover:text-primary transition-transform transform hover:scale-110">
    <i class="fab fa-linkedin fa-2x"></i>
  </a>
  <a href="https://github.com/ChristianSeip" target="_blank" class="text-gray-500 hover:text-primary transition-transform transform hover:scale-110">
    <i class="fab fa-github fa-2x"></i>
  </a>
  <a href="mailto:contact@seip.io" class="text-gray-500 hover:text-primary transition-transform transform hover:scale-110">
    <i class="fas fa-envelope fa-2x"></i>
  </a>
</div>

<div class="flex md:hidden justify-center space-x-8 fixed bottom-24 left-1/2 transform -translate-x-1/2 z-40">
  <a href="https://www.linkedin.com/in/christian-seip" target="_blank" class="text-gray-500 hover:text-primary transition-transform transform hover:scale-110">
    <i class="fab fa-linkedin fa-2x"></i>
  </a>
  <a href="https://github.com/ChristianSeip" target="_blank" class="text-gray-500 hover:text-primary transition-transform transform hover:scale-110">
    <i class="fab fa-github fa-2x"></i>
  </a>
  <a href="mailto:contact@seip.io" class="text-gray-500 hover:text-primary transition-transform transform hover:scale-110">
    <i class="fas fa-envelope fa-2x"></i>
  </a>
</div>
