:root {
  --text-color: #e5e5e5;
  --primary-color: #673ab7;
  --secondary-color: #98c548;
  font-size: 16px;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-color: #888888 #555555; /* thumb and track color */
  scrollbar-width: thin;
}

body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(#0f0f0f, #1f1f1f, #151515);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: .6rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #888888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.ff-arizonia {
  font-family: Arizonia;
}

.primary-text {
  color: var(--primary-color) !important;
}

.lead-text {
  font-size: 1.5rem;
}

h2 {
  display: inline-block;
  padding-bottom: .5rem;
  background: linear-gradient(to left, var(--secondary-color), var(--primary-color) 100%);
  background-position: 0 100%;
  background-size: 100% .25rem;
  background-repeat: repeat-x;
}
